.cursor-pointer{
  cursor: pointer;
}
.cursor-pointer:hover{
  background-color: #80808017;

}
.icon-green{
  font-size: 20px;
  color: green;
}
.icon-orange{
  font-size: 20px;
  color: orange;
}
.far{
  font-size: 20px;
}
.like{
  font-size: 20px;
  color:green;
}
.deslike{
  font-size: 20px;
  color:red;
}
.list-create{
  border: 1px solid #dee2e6;
  border-radius: 5px;    
  width: 90%;
  float: right;
}

.list-create li{
  list-style: none;
  padding: 3px;
}